{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content %}    
<div class="row">
  <div class="col-sm-2">
    <ul class="vmenu">
      <li><a href="#" class="btn btn-primary btn-block" role="button" id="freq">frequent words</a></li> 
    </ul>
  </div> <!-- menu col -->
  <div class="col-sm-2">
    <div id="left1"></div>
  </div>
  <div class="col-sm-8">
    <div id="right1">
    <table class="basic">
      {% for sent in sents %}
      <tr>
        <td class="center">{{ sent.index }}</td>
        <td class="left">{{ sent.sent }}</td>
      </tr>
      {% endfor %}          
    </table>
    </div>
    <div id="right2"></div>
  </div>
</div> <!-- row -->
{% endblock %}
